@charset "utf-8";

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #5fe6c6;
}

a{
    color: black;
   text-decoration: none;
}
.main-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 2em;
}

.main-header h1{
    font-size: 4em;
    margin-bottom: 1.2em;
    line-height: 1.2em;
}

.main-header h1 span{
    color: #055c42;
    text-shadow:  5px 5px 5px #02524e;
}

.container{
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 2em;
}


img{
    heigth:100%;
    width: 100%;
}

.card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:2em ;
    background: #49d3bc;
    margin-bottom: 2em;
}


.card{
    margin-bottom: 2em;
}

.card div{
    padding: 2em;
}

.card:nth-child(even) img{
    order: 2;
}

.btn{
    background: #000;
    color: #faebd7;
    padding: .6em 1.6em;
    margin-top: 2em;
    display: inline-block;
    cursor: pointer;
}

.btn:hover{
    background: #2210ec;
    opacity: 1;
    border-radius: 9px;
}

.galeria{
    margin: 2em;
    height: 20em;
    gap: 0.5em;
    display: flex;
}

.galeria div{
    flex: 1;
    background-size: cover;
    background: no-repeat;
    background-position: center top;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.galeria div:hover{
     flex: 3;
}
.galeria:hover div:not(:hover){
    filter:grayscale(50%);
   /*  filter: blur(5px);
    filter: brightness(0.4);
    filter: contrast(200%);
    filter: drop-shadow(16px 16px 20px blue);
    filter: grayscale(50%);
    filter: hue-rotate(90deg);
    filter: invert(75%);
    filter: opacity(25%);
    filter: saturate(30%);
    filter: sepia(60%);  */
}


